.container-block-plugin_container-block
  .block-header
    .action-home-index #content .block-outer:first-child &, #content #box-organizer .block-outer:first-child &
      background: #308DC6
      margin-bottom: 65px
      .block-title
        span
          background: url('images/home/icon-attend.png') no-repeat left center
    .action-home-index #content .block-outer:nth-child(4) &, #content #box-organizer .block-outer:nth-child(4) &
      background: #90B500
      margin-bottom: 40px
      .block-title
        span
          background: url('images/home/icon-conection.png') no-repeat left center
    .action-home-index #content &, #content #box-organizer &
      background: #404040
      margin-bottom: 50px
      .block-title
        border: none
        margin: auto
        width: 960px    
        span
          background: url('images/home/icon-highlight.png') no-repeat left center
          color: #FFF
          display: inline-block
          font-family: 'Ubuntu Mediun'
          font-size: 18px
          font-variant: normal
          font-weight: normal
          height: 60px
          line-height: 60px
          padding-left: 60px
        .subtitle
          background: none !important
          font-family: 'Ubuntu'
          font-size: 13px
          font-style: italic
          padding: 0 0 0 15px
  .community-block, .people-block, .raw-html-block
    #content &
      span
        width: auto
  .box
    margin: auto
    width: 960px
  @import conexions

