.action-home-index #content .box .block-outer:nth-child(4) &, #content #box-organizer .box .block-outer &
  .people-block, .communities-block, .raw-html-block
    background: #DEDEDE
    border: 1px solid #E0E0E0
    height: 440px
    margin-right: 20px
    width: 305px !important
    .block-title
      background: none
      border: none
      height: 22px
      line-height: 22px
      margin: 0
      padding: 25px 0
      span
        background: none
        color: #404040
        font-family: 'Ubuntu Mediun'
        font-size: 22px
        font-variant: normal
        font-weight: normal
        padding: 0 0 0 20px
        width: auto
    .block-footer-content
      margin: 0 0 3px 0
      text-align: right
      position: absolute
      right: 20px
      bottom: 25px
      a.view-all
        background: #8EB500 none
        border-radius: 20px
        color: #FFF
        font-family: 'Ubuntu'
        font-size: 14px
        padding: 7px 20px
        position: relative
        text-decoration: none
        text-transform: capitalize
    li.vcard
      .menu-submenu-trigger
        top: 0
        left: 0
  .people-block
    ul
      display: block
      margin: 0 18px
      padding: 0
      width: 270px
    .common-profile-list-block
      li
        border: none
      a.profile_link
        height: 50px
        margin: 2px
        padding: 0
      span.profile-image
        height: 50px
        width: 50px
      span.fn
        display: none
    .banner-div
      padding: 0
      margin: 0
      a
        line-height: 50px
        height: 50px
        margin: 1px
        padding: 1px
        width: 104px
        .banner-span
          background: #F15921
          color: #FFF
          font-family: 'Ubuntu Mediun'
          font-size: 16px
          font-weight: normal        
  .communities-block
    ul
      display: block
      margin: 0 8px
      padding: 0
      width: 288px
    .common-profile-list-block
      li.vcard
        border: none
        min-height: 100px
        width: 72px
        &:hover
          background: none
          border: none
        a.profile_link
          min-height: 100px
          margin: 0 5px
          padding: 0
        span
          width: 60px
          &.profile-image
            background: #EEE
            border: 1px solid #E0E0E0
            height: 61px
            width: 61px
            overflow: hidden
            img
              min-width: 60px
              min-height: 60px
          &.org
            font-family: 'Ubuntu'
            font-size: 10px
            text-transform: uppercase
            height: 32px
            overflow: hidden
            line-height: 11px
    .block-footer-content
      margin: 0
  .raw-html-block
    margin: 0
    .social_widget_facebook
      margin: 0 10px
    .others_social_net
      ul
        list-style: none
        margin-top: 20px
        padding: 0
      li
        cursor: pointer
        display: inline-block
        height: 58px
        width: 58px
        margin: 0 15px 0 25px
        a
          display: block
          height: 58px
          width: 58px
        &.instagram
          background: url('images/home/icon-insta.png') no-repeat left center
        &.twitter
          background: url('images/home/icon-tw.png') no-repeat left center
        &.facebook
          background: url('images/home/icon-face.png') no-repeat left center
      span
        display: none
