@font-face 
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 400
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff')

@font-face 
  font-family: 'Open Sans Bold'
  font-style: normal
  font-weight: 700
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff')

@font-face 
  font-family: 'Open Sans Extrabold'
  font-style: normal
  font-weight: 800
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format('woff')

.controller-account, .controller-profile, .controller-content_viewer, .controller-profile_editor, .controller-cms, .controller-admin_panel
  background-color: #fff
  color: #000000
  font-family: 'Open Sans', Arial, Helvetica, sans-serif
  #wrap-1
    width: 960px
  #content .box .block-title, .suggestions-block .block-subtitle 
    font-family: 'Open Sans'
    font-size: 12px
    text-align: left
    border-top: 4px solid #757575
    background: #eeefff
    border-bottom: none
    color: #757575
    padding: 8px 8px 24px 10px
    text-transform: uppercase
  #boxes
    margin-top: 20px
  .main-content
    width: auto
  #content .recent-documents-block 
    ul 
      margin-left: 0
      padding: 0
    li 
      background: none repeat scroll 0 0 #EEEFFF
      border-bottom: 1px solid #CCCCCC
      display: block
      margin: 0
      min-height: 1em
      padding: 8px
      text-align: left
      a 
        color: #464A55
        line-height: 1em
        &:hover
          color: #000
      .block-title 
        border-bottom: 1px solid #757575
        margin-bottom: 0
  #content .link-list-block 
    li 
      border-bottom: 1px solid #ddd
      border-top: none
      padding: 0
      margin: 0
      a 
        background-color: #fff
        border-bottom: 1px solid #ccc !important
        border-radius: 0 0 0 0
        border-right: medium none
        border-top: 0px solid #64946E !important
        color: #436976
        font-weight: normal
        width: auto
        font-size: 12px
        padding-left: 30px
        padding-right: 5px
        background-position: 7px 50%
        &:hover 
          background-color: #eee
          color: #000
        &.link-this-page 
          background-color: #EEEFFF
          font-weight: bold
          width: auto
  .profile-image-block .admin-link 
    font-size: 100%
  h1, h2, h3, h4, h5, h6 
    font-family: 'Open Sans', Arial, Helvetica, sans-serif 
  #content h1 
    margin-top: 0
  .modal 
    top: 50%
  a:link, #content a:link, dl.portlet a:link 
    color: #2c67cd
  a:visited, #content a:visited, dl.portlet a:visited 
    color: #2c67cd
  #content a:hover, dl.portlet a:hover 
    color: #000
  #category-ajax-selector .select-subcategory-link:hover 
    color: #fff
  #user .logged-in span.task-count 
    display: inline-block
  a:focus 
    outline: 2px solid #f1ca7f 
  h1 
    color: #172838
    font-size: 2em
    border-bottom: none 
  h2, h3, h4, h5, h6 
    color: #231f20  
  h1 
    margin: 0.5em 0 0.5em
    line-height: 1.3em  
  h2, h3 
    margin: 0 0 0.5em 0
    line-height: 1.3em  
  p 
    line-height: 1.8em
    margin: 0 0 1em 0
  .more_button, .read_more
    margin-bottom: 15px
    margin-top: -5px
    color: #000000
    font-size: 11px
    text-align: left
    .view_all a, a
      background: url("images/button-read-more-vazio.png") no-repeat scroll left 50% transparent
      color: #333
      display: inline-block
      font-weight: bold
      padding: 10px 20px 10px 50px
      text-align: left
      font-family: Arial, sans-serif
  .relevant-content-plugin_relevant-content-block 
    ul
      padding: 0
    li:hover
      background-color: #eee
    a
      color: #333
      display: block
      padding: 0.5em 1em 
  #wrapper 
    margin: 0 auto
    font-size: 1.2em
    width: 100%
  #main 
    font-size: 1.3em
    padding: 1em 0
    max-width: 960px
    margin: 0 auto
  #content .profile-info-options 
    padding-right: 0
    ul 
      margin-left: 0px
    input.button.with-text, a.button.with-text 
      background-color: #fff
      border-radius: 0 0 0 0
      display: block
      padding-bottom: 5px
      padding-left: 30px
      padding-top: 5px
      text-align: left     
    a.button.with-text
      border: 0px solid #CCCCCC
      border-bottom: 2px solid #CCCCCC !important
    input.button:hover, a.button:hover 
      background-color: #ccc
      border: 1pxpx solid #CCC
  #content .main-block  
    #comments_list 
      h3 
        border-bottom: 1px solid #CCCCCC
        margin: 0 0 6px 0
        min-height: 100% !important
        padding: 14px
        color: #999
      .comment-balloon 
        .comment-wrapper-1, .comment-wrapper-2, .comment-wrapper-3, .comment-wrapper-4, .comment-wrapper-5, .comment-wrapper-6, .comment-wrapper-7, .comment-wrapper-8
          background-image: none
      a.display-comment-form 
        background: url("images/bg-btn-ver-mais-1px.png") repeat scroll 0 0 #EEEEEE
        border-color: #ddd
        margin: 14px
  #article 
    .article-comments-list, .article-comments-list ul, .article-comments-list li 
      list-style: none outside none
      margin: 5px 0 10px
      padding: 0
    .article-comments-list li 
      padding: 14px
      display: block
      list-style: none outside none
      margin: 10px 0 0
    .comment-replies .article-comment 
      background: url("images/black-alpha-pixel-5.png") repeat scroll left top transparent
      border: 1px solid #808080
      border-radius: 5px 5px 5px 5px
      margin-top: 0px
      padding: 0
    .comment-replies .comment-picture 
      height: auto
      max-width: 50px
      overflow: visible
      word-wrap: break-word
    .article-comment .comment-details h4 
      display: block
    .article-comment .comment-details 
      padding-top: 0
      .menu-submenu 
        bottom: -4px
        right: -130px
  .comments .comment-count-write-out 
    min-height: 100%
  #content .blog-post .short-post .read-more a
    text-decoration: none
    background: url("images/bg-btn-ver-mais-1px.png") repeat-x scroll 0 0 #DDD
    border: 1px solid #CCC
    border-radius: 5px
    color: #666
    font-weight: bold
    padding: 0.5em 1em
    text-decoration: none
  .comment-info 
    line-height: 1em
    margin-top: 5px
  .comment-created-at
    display: block
    float: none
    margin-left: 0
    color: red
    font-style: italic
    margin-bottom: 1em
  .comment-text p 
    line-height: 1.3em
  #content 
    .comment-header .comment-actions-reply
      margin-right: 5px
      margin-top: 5px
  #page-comment-form .post_comment_box 
    display: inline-block
    padding: 5px
    text-align: left
  #article-parent 
    display: block
    position: relative
    right: 0px
    top: 0px 
  #article-tags 
    a:link 
      clear: both
      display: inline-block
      margin-bottom: 1.5em
      color: white
      padding: 3px 5px
    a:hover 
      background-color: #000
      color: white
  .task_box
    background: none repeat scroll 0 0 #EEEEEE
    margin-bottom: 5px
    margin-top: 5px
    padding: 1em
    position: relative
  #content 
    .tags-block, .people-block, .profile-list-block, .enterprises-block, .members-block, .communities-block, .friends-block
      .block-footer-content 
        text-align: right
        margin-top: 0.5em
        margin-right: 8px
        a, .suggestions-block .more-suggestions a
          background: url("images/bg-btn-ver-mais-1px.png") repeat-x scroll 0 0 #EEEEEE
          border: 1px solid #CCCCCC
          border-radius: 5px 5px 5px 5px
          display: inline
          margin: 14px 0 14px 14px
          padding: 5px 15px
          position: relative
          top: 5px
    .friends-block .block-footer-content .suggestions-block
      margin-top: 10px
      text-align: center
      a
        background: none
        border: none
        border-radius: 0
        display: block
        margin: initial
        padding: initial
        text-decoration: none
        top: 0
  .only-one-result-box 
    .common-profile-list-block
      float: none
  .common-profile-list-block 
    span
      height: 28px
      line-height: 12px
      overflow: hidden
      width: 60px
      word-wrap: break-word
    .profile-image
      display: block
      height: 52px
      max-height: 100%
      width: 100%
    .vcard 
      float: none
      a.profile_link 
        margin-bottom: 5px
        float: none
  .search-results-box 
    .common-profile-list-block 
      li
        display: inline-block
        width: 112px
  .common-profile-list-block, ul.profile-list .common-profile-list-block
    display: inline-block
    vertical-align: top
  .main-block 
    .common-profile-list-block
      display: block
  #search-results 
    .common-profile-list-block
      display: inline-block
      vertical-align: top
  .vcard .menu-submenu-list li 
    display: block
  .box-2, box-3
    .common-profile-list-block .vcard a.profile_link
      height: auto
      max-height: 100%
  .common-profile-list-block, .comment-actions 
    .vcard a 
      margin: 0
  #content .comment-actions li 
    padding: 2px
  #article .article-comment .comment-details .comment-actions h4 
    display: none
  .menu-submenu-trigger, .comment-actions .vcard .menu-submenu-trigger 
    width: 20px
    height: 20px
  #content 
    .box-1 
      .block-title 
        background: url("images/bg-titulo-interno.png") repeat-x scroll 0 0 #FFF
        border-bottom: medium none
        border-top: 0px solid #757575
        color: #757575
        font-size: 12px
        padding: 0px
        text-align: left
        text-transform: uppercase
        span
          background-color: #fff
          background-image: none
          padding: 0 1em 0 0
    .main-block 
      h1, h2, h3, h4
        font-family:  'Open Sans', Arial, Helvetica, sans-serif
      h2
        font-size: 1.8em !important
        min-height: 48px
      h3
        font-size: 1.5em !important
        min-height: 48px
    .main-block, .no-boxes
      h1
        font-size: 2.3em !important
        font-weight: bold !important
    .title 
      font-weight: normal
  
  #content, #not-found, #access-denied, #content .no-boxes 
    h1 
      color: #444
      font-size: 1.7em
      padding: 7px 0
      margin-left: 0
      padding-left: 0.3em
      border-bottom: 1px solid #CCCCCC
      border-top: 0px solid #172838
  
  #content .main-block #article-cat h4 
    font-size: 1.3em !important
    min-height: 0px

@import old-theme/pairwise.css

@import old-theme/like_an_vote.css

@import old-theme/signin_and_signup.css

@import old-theme/recent_documents.css

@import old-theme/search.css

@import old-theme/internacionalization.css

@import old-theme/chat_and_hub.css

@import old-theme/edition_pages.css
