/* Formuálarios de adição e edição - CMS */

.action-cms-edit #content .formfield input,
.action-cms-new #content .formfield input {
	width: 512px;
}

.action-cms-edit #content .formfield textarea,
.action-cms-new #content .formfield textarea {
	width: 507px;
}

.action-cms-new #content .text-editor-sidebar {
	width: 360px;
        right: 0;
}

.action-cms-new #content .text-editor-sidebar .header {
	height: 23px;
        line-height: 23px;
}

.controller-cms #content .formfield #article_image_builder_uploaded_data {
	height: 19px;
	width: 500px;
	padding: 4.5px 6px 4.5px 6px;
	background: none;
	font-size: 12px;
 	text-indent: 0px;
}

.controller-cms #content .formfield #article_image_builder_label {
	padding: 0px;
}

.controller-cms #content .main-content form label.formlabel,
.controller-cms #content .main-content form .article-translation-field {
  	font-size: 14px;
  	margin-bottom: 5px;
}

.controller-cms #content .main-content form .article-translation-field {
	margin-top: 15px;
  	margin-bottom: 15px;
}
