/*From Old Theme*/

/* * Internacionalização * */

#participa-languages {
  position: absolute;
  top: 12px;
  right: 10px;
  padding: 0px;
  z-index: 100;
}

#participa-languages a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  background-repeat: no-repeat;
  display: inline-block;
  height: 17px;
  width: 25px;
  margin-left: 5px;
}

.flag-en { background-image: url('../images/flag-en.png') }
.flag-pt { background-image: url('../images/flag-pt_br.png') }

#participa-languages a span{ display: none }

.parsed-macro .comment-count {
  margin: 0;
  padding: 0;
}

#assets-menu {
  background: white;
  display: block;
  position: static;
  border: 0;
}

#assets-menu a {
  border: 0;
}

.text-editor-sidebar {
  right: -273px;
  z-index: 999;
}
