/*From Old Theme*/

/*documentos recentes - todo o site*/
#content .recent-documents-block ul {
    margin-left: 0;
    padding: 0;
}

#content .recent-documents-block li {
    background: none repeat scroll 0 0 #EEEFFF;
    border-bottom: 1px solid #CCCCCC;
    display: block;
    margin: 0;
    min-height: 1em;
    padding: 8px;
    text-align: left;
}

#content .recent-documents-block li a {
    color: #464A55;
    line-height: 1em;
}

#content .recent-documents-block li a:hover{
    color: #000;
}

#content .recent-documents-block .block-title {
    border-bottom: 1px solid #757575;
    margin-bottom: 0;
}
