/*From Old Theme*/

/*Registro de usuário*/

.action-account-signup .no-boxes form {
    margin: 0px;
}

.action-account-signup .singup_text {
    display: inline-block;
    float: left;
    margin-right: 5%;
    margin-top: 70px;
    width: 30%;
}

.action-account-signup #signup-form-header,
.action-account-signup #signup-form-profile {
    display: inline-block;
    float: right;
    width: 60%;
}

.action-account-signup form>p {
	clear: both;
}

/*Fim Registro de usuário*/

/* PopUp Login*/

#colorbox .login-box .button-bar a.icon-close{
  width: auto !important;
}

#colorbox .login-box{
  width: 700px;
  background: url("../images/img_login_popUp.png") no-repeat scroll 90% 30% #FFFFFF;
}

#colorbox .login-box h2{
    background: url("../images/bg-titulo-login.png") no-repeat scroll 70px 7px #FFFFFF;
    color: #757575;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    width: 45%;
}

#colorbox .login-box form {
    margin: 0;
    width: 45%;
}

#colorbox .login-box .formfieldline input {
	width: 95%;
}

#colorbox .login-box .button-bar input.icon-login {
    background: url("../images/btn_entrar_login.png") no-repeat scroll 0 0 #FFFFFF;
    border: 0px none;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 50px !important;
    max-height: 50px !important;
    padding: 0;
    text-transform: uppercase;
    width: 145px;
	 cursor: pointer;
}

#colorbox .login-box .button-bar input.icon-login:hover {
	background-image: url("../images/btn_entrar_login_hover.png");
}

#colorbox .login-box .button-bar a.icon-close {
  /*background: url("images/btn_cancelar_login.png") repeat-x scroll 0 0 #FFFFFF;*/
    background-color: #FCE9E8;
    background-image: none;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #CE5E5E;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    padding: 14px 13px 0;
    text-align: center;
    text-transform: uppercase;
    width: 115px;
}
#colorbox .login-box .button-bar a.icon-close:hover {
	background-color: #FFD1CF;
}

#colorbox .login-box .button-bar input.submit,
#colorbox .login-box .button-bar a.icon-close {
    border: 0px none;
}

#colorbox .login-box .button-bar {
    float: none;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
}

#colorbox .login-box .button-bar .icon-add{
    background-color: #F7E074;
    background-image: none;
    color: #004B82;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-right: 75px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: -3em;
    width: 30%;
}

#colorbox .login-box .button-bar .icon-add span{
	border-bottom: 1px solid #F7E074;
}

#colorbox .login-box form .button-bar {
	float: none;
	width: 100%
}

#email-check, #fake-check, #password-rate, #password-check {
	width: 375px;
}

#signup-form small#signup-balloon, 
#signup-form small#password-balloon, 
#signup-form small#password-confirmation-balloon, 
#signup-form small#email-balloon, 
#signup-form small#name-balloon {
	right: 0;
}

/*Fim PopUp Login*/
